
[*.rs]
indent_style = tab
trim_trailing_whitespace = true

[*.proto]
indent_style = tab
trim_trailing_whitespace = true

[*.yaml]
indent_style = space
indent_size = 2

[*.nix]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[Dockerfile]
indent_style = tab
trim_trailing_whitespace = true
