# generated rpc server/client
server-rpc/src/bark_server.rs
cln-rpc/src/cln.rs
cln-rpc/src/plugins/hold.rs

debug/
target/
.direnv/
rustdocs/
/test/

*.profraw

flake_finder/

# RustRover/IntelliJ
.idea/
testing/tmp-pg-data

.vscode/
