
[workspace]
members = [
  "ark-lib",
  "ark-testing",
  "aspd-rpc-client",
  "aspd",
  "bark",
  "bark-cln",
  "sled-utils"
, "bark-json"]

resolver = "2"

# TODO(stevenroose) at some point probably move these inline
[workspace.dependencies]
# Rust stack
anyhow = { version = "1.0", features = ["backtrace"] }
lazy_static = "=1.4.0"
log = "0.4.20"
fern = "0.6.2"
env_logger = "=0.10.1"
hex= "=0.4.3"
clap = { version = "4.4.18", features = [ "derive" ] }
chrono = "0.4"
serde = { version = "1", feature = [ "derive" ] }
serde_json = "1"
# TODO(stevenroose) consider messagepack or so
ciborium = "0.2.1"

# bitcoin stack
bitcoin = { version = "0.32", features = [ "serde", "rand", "rand-std" ] }
bip39 = { version = "2.0.0", features = [ "rand", "serde" ] }
miniscript = "12.0"
rand = { version = "0.8.5", features = [ "std", "std_rng" ] }
# bdk = "1.0.0-alpha.3"
# bdk_electrum = "0.5.0"
# bdk_file_store = "0.3.0"
# bdk_bitcoind_rpc = "0.2.0"
bdk_wallet = { git = "https://github.com/stevenroose/bdk.git", rev = "05438017876c3338d091ca85e52242b455e2193a" }
bdk_esplora = { git = "https://github.com/stevenroose/bdk.git", rev = "05438017876c3338d091ca85e52242b455e2193a" }
bdk_file_store = { git = "https://github.com/stevenroose/bdk.git", rev = "05438017876c3338d091ca85e52242b455e2193a" }
bdk_bitcoind_rpc = { git = "https://github.com/stevenroose/bdk.git", rev = "05438017876c3338d091ca85e52242b455e2193a" }

sled = "0.34.7"


# async + gRPC stack
tonic = { version = "0.10", features = [ "tls" ] }
tonic-build = "0.10"
prost = "0.12"
tokio = { version = "1.35", features = [ "full" ] }
tokio-stream = { version = "0.1.14", features = [ "sync" ] }

