
[workspace]
members = [
  "ark-lib",
  "ark-testing",
  "aspd-rpc",
  "aspd",
  "aspd-log",
  "bark",
  "bark-cln",
  "bark-json",
  "stream-until",
]

resolver = "2"

# TODO(stevenroose) at some point probably move these inline
[workspace.dependencies]

#
# * EXPORTED (ECOSYSTEM)

bitcoin = { version = "0.32", features = [ "serde", "rand", "rand-std" ] }
lightning-invoice = { version = "0.32.0-rc1", features = [ "std", "serde" ] }
lnurl-rs = { version = "0.9.0", features = [ "async", "async-https-rustls" ], default-features = false }
anyhow = { version = "1.0", features = [ "backtrace" ] }
log = { version = "0.4.23", features = [ "kv", "kv_serde" ] }
serde = { version = "1" }
# grpc clients
tonic = { version = "0.12.2", features = [ "tls", "tls-roots", "gzip" ] }
tower = "0.5.2"
http = "1.2.0"
http-body = "1.0.1"
#
# * INTERNAL

# rust stack
lazy_static = "=1.4.0"
fern = { version = "0.6.2", features = [ "colored" ] }
hex = "=0.4.3"
clap = { version = "4.4.18", features = [ "derive", "env" ] }
chrono = { version = "0.4", features = [ "serde" ] }
serde_json = { version = "1", features = [ "raw_value" ] }
toml = "0.8.19"
ciborium = "0.2.1"
config = "0.15.6"
humantime = "2.1.0"
# async + gRPC stack
tonic-build = "0.12.2"
prost = "0.13.2"
tokio = { version = "1.35", features = [ "full" ] }
tokio-stream = { version = "0.1.14", features = [ "sync" ] }
tokio-postgres = "0.7.12"
bb8 = "0.9.0"
bb8-postgres = "0.9.0"
futures = {version = "0.3.30"}
# bitcoin
bip39 = { version = "2.0.0", features = [ "rand", "serde" ] }
miniscript = "12.2"
rand = { version = "0.8.5", features = [ "std", "std_rng" ] }
bdk_wallet = "1.0.0"
bdk_esplora = { version = "0.20.1", features = [ "std", "async-https-rustls", "tokio" ], default-features = false }
bdk_bitcoind_rpc = "0.17.1"
# tracing and monitoring
opentelemetry = "0.27.1"
opentelemetry_sdk = { version = "0.27.0", features = ["tracing", "rt-tokio"] }
opentelemetry-otlp = "0.27.0"
opentelemetry-semantic-conventions = { version = "0.27.0", features = ["semconv_experimental"] }
tracing = { version = "0.1.41", features = ["std", "attributes"] }
tracing-opentelemetry = "0.28.0"
tracing-subscriber = { version = "0.3.19", features = ["std", "registry", "ansi", "fmt", "env-filter"] }
