#
# This is a template config file for captaind.
# All required values have a default value provided in this file.
# All optional values are included here but are commented out.
#


# The directory all captaind data is stored
data_dir = "./bark-server"

# The bitcoin network this server runs on
network = "regtest"

# The lifetime of VTXOs in blocks
vtxo_lifetime = 4320

# Maximum value of VTXOs
#max_vtxo_amount = "1000000 sat"

# Minimum amount required for board transactions
min_board_amount = "20000 sat"

# The time between execution of each exit clause of the VTXO, in blocks
vtxo_exit_delta = 144

# The maximum transaction depth of the arkoor part of VTXOs that server cosigns
max_arkoor_depth = 5

# The maximum number of outputs per input of an arkoor tx
max_arkoor_fanout = 4

# Number of confirmation required for a board tx to be accepted as a VTXO
required_board_confirmations = 3

# Number of confirmations we require when using externally received UTXOs
round_tx_untrusted_input_confirmations = 2

# Whether to provide rich errors and stacktraces in RPC error returns
rpc_rich_errors = true

# The interval to update the tx index
txindex_check_interval = "30s"
# The interval at which the SyncManager polls for new blocks
sync_manager_block_poll_interval = "100ms"

# The minimum balance to maintain for the forfeit watcher, if running
forfeit_watcher_min_balance = "1 btc"

# The interval to rebroadcast transactions
transaction_rebroadcast_interval = "1m"

# A public service announcement to send on each client-server handshake request
#
# Clients are supposed to display this message to their users.
#handshake_psa = "Welcome to the most Awesome Ark Server!"

# Endpoint for OpenTelemetry collector
#otel_collector_endpoint = "http://127.0.0.1:4000"
# Probability of enabling OpenTelemetry tracing
#otel_tracing_sampler = "0.5"
# The name of your deployment used by OpenTelemetry
otel_deployment_name = "my_regtest"


##########
# ROUNDS #
##########

# The interval to start new rounds
round_interval = "10s"

# The time users have to submit payments when a round starts
round_submit_time = "2s"

# The time users have to provide VTXO tree and forfeit tx signatures
round_sign_time = "2s"

# The amount of round cosign nonces we require users to provide
#
# This effectively caps the maximum number of leaf VTXOs in a round.
# So, by default, the maximum number of output VTXOs in a round is:
#   `radix ^ nb_round_nonces` (= 4 ^ 8 = 65 536)
nb_round_nonces = 8

# The duration after which to drop forfeit nonces
round_forfeit_nonces_timeout = "30s"

#############
# OFFBOARDS #
#############

# The feerate we set for offboard transactions
offboard_feerate = "7sat/vb"

# The number of bytes we charge fixed for each offboard
#
# This is multiplied with the offboard feerate.
# A single 2-in-2-out taproot keyspend tx is 846 or 212 vb.
offboard_fixed_fee_vb = 212

# The time after which we drop offboard sessions and release locked VTXOs
offboard_session_timeout = "30s"

#############
# LIGHTNING #
#############

# Interval to retry connecting to disconnected CLN nodes
cln_reconnect_interval = "10s"

# Interval to double check on pending invoices
invoice_check_interval = "3s"

# Minimum interval to keep between two consecutive checks of an invoice
invoice_recheck_delay = "2s"

# FIXME
invoice_check_base_delay = "10s"

# FIXME
invoice_check_max_delay = "10m"

# FIXME
invoice_poll_interval = "30s"

# Base delay for TrackAll stream reconnection backoff
track_all_base_delay = "1s"

# Maximum delay for TrackAll stream reconnection backoff
track_all_max_delay = "60s"

# The number of blocks to keep between Lightning and Ark HTLCs expiries.
htlc_expiry_delta = 40

# The number of blocks after which an HTLC-send VTXO expires once granted.
# When granting an HTLC-send VTXO, the Server doesn't know the lightning
# route yet, so it needs this config to be sufficiently high to account
# for the worst routing scenario.
htlc_send_expiry_delta = 258

# Maximum CLTV delta server will allow clients to request an
# invoice generation with.
max_user_invoice_cltv_delta = 250

# The duration after which a generated invoice will expire.
invoice_expiry = "48h"

# The duration for which the server will hold inbound HTLC(s) while
# waiting for a user to claim a lightning receive.
# After this timeout the server will fail the HTLC(s) back to the sender and
# also cancel the hold invoice.
receive_htlc_forward_timeout = "30s"

# Indicates whether the Ark server requires clients to either
# provide a VTXO ownership proof, or a lightning receive token
# when preparing a lightning claim.
ln_receive_anti_dos_required = false

# This allows you to configure one or more lightning nodes for the server to use. Just add as
# many [[cln_array]] entries as you need!
#[[cln_array]]
#uri = "http://127.0.0.1:8000"
#priority = 10
#server_cert_path = "/etc/cln/server.cert"
#client_cert_path = "/etc/cln/client.cert"
#client_key_path = "/etc/cln/client.key"
#hold_invoice.uri = "http://127.0.0.1:8001"
#hold_invoice.server_cert_path = "/etc/cln/hold/server.cert"
#hold_invoice.client_cert_path = "/etc/cln/hold/client.cert"
#hold_invoice.client_key_path = "/etc/cln/chold/lient.key"


################
# VTXO SWEEPER #
################

[vtxo_sweeper]
enabled = true
# Interval to check if sweeps can be made
round_sweep_interval = "1h"
# Minimum total sweep value to merit a sweep tx
sweep_threshold = 1000000


###################
# FORFEIT WATCHER #
###################

[forfeit_watcher]
enabled = true
# Interval to check of forfeited exits have been broadcast
wake_interval = "1m"


#############
# VTXO POOL #
#############

[vtxopool]
# The target set of VTXOs to maintain in the pool
# Format: "<amount>:<count>", f.e. "1000sat:50"
vtxo_targets = [ "1000sat:10", "10000sat:10" ]
# At what % of the target should new VTXOs be issued
#
# Once one of the target amounts falls below target, all amounts
# will be replenished.
vtxo_target_issue_threshold = 80
# The lifetime in blocks of the VTXOs in the pool
vtxo_lifetime = 432
# Time in blocks before the expiry to no longer use VTXOs
vtxo_pre_expiry = 144
# Maximum depth for pool VTXOs
vtxo_max_arkoor_depth = 3
# The interval at which to check if an issuance should be made
issue_interval = "1m"


#################
# FEE ESTIMATOR #
#################

[fee_estimator]
# Interval to update fee estimates from bitcoind
update_interval = "1m"
# Fallback feerate for fast confirmation (1 block target)
fallback_fee_rate_fast = "25sat/vb"
# Fallback feerate for regular confirmation (3 block target)
fallback_fee_rate_regular = "10sat/vb"
# Fallback feerate for slow confirmation (6 block target)
fallback_fee_rate_slow = "4sat/vb"


##################
# gRPC interface #
##################

[rpc]
# Listen address for the public gRPC API
public_address = "127.0.0.1:3535"
# Listen address for the private admin gRPC API
admin_address = "127.0.0.1:3536"
# Listen address for the integration manager gRPC API
integration_address = "127.0.0.1:3537"


#################
# POSTGRESQL DB #
#################

[postgres]
host = "localhost"
#user = "postgres"
#password = "super_secure"
port = 5432
name = "bark-server-db"
# Maximum parallel connections to maintain in our connection pool
max_connections = 10


############
# BITCOIND #
############

[bitcoind]
# Bitcoind JSON_RPC API endpoint
url = "http://127.0.0.1:18443"
# Path to the cookie file for RPC authentication
#cookie = "/home/bitcoin/.bitcoin/.cookie"
#rpc_user = "admin"
#rpc_pass = "super_secure"

