#
# This is a template config file for watchmand.
# All required values have a default value provided in this file.
# All optional values are included here but are commented out.
#

# The directory all watchmand data is stored
data_dir = "./bark-server-watchmand"

# The bitcoin network this server runs on
network = "regtest"

# The interval to update the tx index
txindex_check_interval = "30s"
# The interval at which the SyncManager polls for new blocks
sync_manager_block_poll_interval = "100ms"

# The interval to rebroadcast transactions
transaction_rebroadcast_interval = "1m"

# The name of your deployment used by OpenTelemetry
otel_deployment_name = "my_regtest"

#############
# watchman #
############
[watchman]


#################
# FEE ESTIMATOR #
#################

[fee_estimator]
# Interval to update fee estimates from bitcoind
update_interval = "1m"
# Fallback feerate for fast confirmation (1 block target)
fallback_fee_rate_fast = "25sat/vb"
# Fallback feerate for regular confirmation (3 block target)
fallback_fee_rate_regular = "10sat/vb"
# Fallback feerate for slow confirmation (6 block target)
fallback_fee_rate_slow = "4sat/vb"


#################
# POSTGRESQL DB #
#################

[postgres]
host = "localhost"
#user = "postgres"
#password = "super_secure"
port = 5432
name = "bark-server-db"
# Maximum parallel connections to maintain in our connection pool
max_connections = 10


############
# BITCOIND #
############

[bitcoind]
# Bitcoind JSON_RPC API endpoint
url = "http://127.0.0.1:18443"
# Path to the cookie file for RPC authentication
#cookie = "/home/bitcoin/.bitcoin/.cookie"
#rpc_user = "admin"
#rpc_pass = "super_secure"

